@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --font-sans: var(--font-inter-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-dark: var(--background-dark);
  --color-foreground-dark: var(--foreground-dark);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground-dark: var(--primary-foreground-dark);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-foreground-dark: var(--secondary-foreground-dark);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-dark: var(--card-dark);
  --color-card-foreground-dark: var(--card-foreground-dark);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-dark: var(--popover-dark);
  --color-popover-foreground-dark: var(--popover-foreground-dark);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-border-dark: var(--border-dark);

  --color-input: var(--input);
  --color-input-dark: var(--input-dark);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(220, 100%, 99%);
  --foreground: hsl(250, 23%, 5%);
  --background-dark: hsl(240, 18%, 3%);
  --foreground-dark: hsl(0, 0%, 94%);

  --primary: hsl(246, 50%, 25%);
  --primary-foreground: hsl(0, 0%, 94%);
  --primary-dark: hsl(249, 85%, 53%);
  --primary-foreground-dark: hsl(0, 0%, 94%);

  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(249, 13%, 20%);
  --secondary-dark: hsl(240, 13%, 12%);
  --secondary-foreground-dark: hsl(0, 0%, 78%);

  --accent: hsl(249, 85%, 53%);
  --accent-foreground: hsl(0, 0%, 94%);

  --card: var(--secondary);
  --card-foreground: var(--secondary-foreground);
  --card-dark: var(--secondary-dark);
  --card-foreground-dark: var(--secondary-foreground-dark);

  --popover: var(--secondary);
  --popover-foreground: var(--secondary-foreground);
  --popover-dark: var(--secondary-dark);
  --popover-foreground-dark: var(--secondary-foreground-dark);

  --destructive: oklch(0.577 0.245 27.325);

  --border: hsl(0, 0%, 74%);
  --border-dark: hsl(240, 6%, 34%);

  --input: var(--border);
  --input-dark: var(--border-dark);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hero {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-background-dark);
      clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
      z-index: -2;
    }
  }

  .pricing {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-background-dark);
      clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
      z-index: -2;

      @media (width < 48rem) {
        clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
      }
    }
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto w-full max-w-7xl px-4;
  }

  .wrapper-sm {
    @apply mx-auto w-full max-w-6xl px-4;
  }

  .wrapper-xs {
    @apply mx-auto w-full max-w-4xl px-4;
  }

  .wrapper-2xs {
    @apply mx-auto w-full max-w-2xl px-4;
  }

  .wrapper-lg {
    @apply mx-auto w-full max-w-[90rem] px-4;
  }

  .gradient-text {
    @apply from-accent via-accent to-primary bg-gradient-to-r bg-clip-text text-transparent;
  }

  .ribbon-text {
    margin: 0;
    background: var(--color-accent);
    color: white;
    padding: 1em 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform-origin: top right;
    font-weight: bold;
  }

  .ribbon-text:before,
  .ribbon-text:after {
    content: "";
    position: absolute;
    top: 0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: var(--color-accent);
  }
  .ribbon-text:before {
    right: 100%;
  }

  .ribbon-text:after {
    left: 100%;
  }
}
