@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-inter-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);

  --color-destructive: var(--destructive);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(220, 100%, 99%);
  --foreground: hsl(250, 23%, 5%);
  --primary: hsl(246, 50%, 25%);
  --primary-foreground: hsl(0, 0%, 94%);

  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(249, 13%, 20%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(249, 13%, 20%);

  --muted: hsl(240, 18%, 3%);
  --muted-foreground: hsl(0, 0%, 94%);
  --tertiary: hsl(240, 13%, 12%);
  --tertiary-foreground: hsl(0, 0%, 78%);

  --accent: hsl(249, 85%, 53%);
  --accent-foreground: hsl(0, 0%, 94%);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: hsl(0, 0%, 74%);
  --border-dark: hsl(240, 6%, 34%);
  --input: hsl(0, 0%, 74%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .hero {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-muted);
      clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
      z-index: -2;
    }
  }

  .pricing {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-muted);
      clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
      z-index: -2;
    }
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto w-full max-w-7xl px-4;
  }

  .wrapper-sm {
    @apply mx-auto w-full max-w-6xl px-4;
  }

  .wrapper-xs {
    @apply mx-auto w-full max-w-4xl px-4;
  }

  .wrapper-2xs {
    @apply mx-auto w-full max-w-2xl px-4;
  }

  .wrapper-lg {
    @apply mx-auto w-full max-w-[90rem] px-4;
  }

  .gradient-text {
    @apply from-accent via-accent to-primary bg-gradient-to-r bg-clip-text text-transparent;
  }

  .ribbon-text {
    margin: 0;
    background: var(--color-accent);
    color: white;
    padding: 1em 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-30%) translateY(0%) rotate(-45deg);
    transform-origin: top right;
    font-weight: bold;
  }

  .ribbon-text:before,
  .ribbon-text:after {
    content: "";
    position: absolute;
    top: 0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: var(--color-accent);
  }
  .ribbon-text:before {
    right: 100%;
  }

  .ribbon-text:after {
    left: 100%;
  }
}
